@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Playfair Display", serif;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    display: flex;
    align-items: start;
    gap: 30px;

}

/* oreintation section start */
.ore1 {
    background-image: url("Group\ 6.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.ore1:nth-child(1) {
    border: 3px solid #125B9A;

}

.ore1 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.orientation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.ore1:nth-child(2) {
    opacity: 0.7;
}

.ore1:nth-child(3) {
    opacity: 0.7;
}

/* oreintation section end */
/* image section start */
.image {
    width: 100%;
}

.image1 {
    background-image: url("Group\ 6.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.image1 img {
    width: 50%;
    object-fit: cover;
    animation: ani1 0.5s ease-in-out;
}

.image1:nth-child(2) {
    display: none;
}

.image1:nth-child(3) {
    display: none;
}

@keyframes ani1 {
    0% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}

/* image section end */
/* content-section start*/
.size {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.size h5 {
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.size h5:nth-child(1) {
    background-color: black;
    width: 50px;
    height: 50px;
    color: white;
    text-align: center;
    padding: 10px;
}

.shirt-heading {
    width: 100%;
}

.shirt-heading h4 {
    font-size: 14px;
    font-weight: 600;
    color: #125B9A;
}

.shirt-heading h1 {
    font-size: 29px;
}

.shirt-detail p {
    font-size: 14px;
    color: gray;
}

.pricing h1 {
    font-family: "SUSE", sans-serif;
    font-size: 32px;
    display: flex;
    gap: 10px;
    align-items: center;
}


.pricing p {
    text-decoration: line-through;
    color: gray;
}

.discount {
    display: flex;
    align-items: center;
    gap: 10px;
    animation: ani2 0.5s ease-in-out;
}

.discount span {
    font-size: 12px;
    background-color: #125B9A;
    font-family: "SUSE", sans-serif;
    padding: 5px;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.size-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    width: 100%;
}

.btn button {
    background-color: #125B9A;
    color: white;
    font-weight: 600;
    font-size: 16px;
    border: none;
    padding: 15px 0px;
    text-align: center;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.content-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    gap: 20px;
}

.btn {
    width: 100%;
}

@keyframes ani2 {
    0% {
        transform: translateX(50%);
    }

    100% {
        transform: translateX(0%);
    }
}

/* content-section end*/
@media (max-width:990px) and (min-width:768px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .image1 {
        width: 100%;
        height: 680px;
    }

    .image {
        width: 100%;
    }

    .orientation {
        flex-direction: row;
    }

    .container {
        margin: 300px 0px;
    }

}

@media (max-width:767px) and (min-width:564px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .image1 {
        width: 100%;
        height: 600px;

    }

    .image {
        width: 100%;
    }

    .orientation {
        flex-direction: row;
    }

    .container {
        margin: 200px 0px;
    }

    .shirt-heading h1 {
        font-size: 40px;
    }
}

@media (max-width:563px) and (min-width:424px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .image1 {
        width: 100%;

    }

    .image {
        width: 100%;
    }

    .orientation {
        flex-direction: row;
    }

    .container {
        margin: 200px 0px;
    }

    .shirt-heading h1 {
        font-size: 39px;
    }
}

@media (max-width:423px) and (min-width:320px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .image1 {
        width: 100%;

    }

    .image {
        width: 100%;
    }

    .orientation {
        flex-direction: row;
    }

    .container {
        margin: 320px 0px;
    }

    .shirt-heading h1 {
        font-size: 29px;
    }
}